/* *{
    border: 1px solid red;
} */

.controles{
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    background-color: rgba(128, 128, 128, 0.36);
    border-radius: 3px;
    width: 768px;
    margin: 20px auto;
    position: relative;
}

.control{
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
    margin: 5px 30px;
}

.columna{
    display: flex;
    flex-direction: column;
}



.texto{
   width: 50%;
    /* width: fit-content; */
}
