/* *{
    border: 1px solid red;
} */
.font{
    font-family: "Metroid-Fusion";
}

.controles{
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    background-color: rgba(128, 128, 128, 0.36);
    border-radius: 3px;
    width: 768px;
    margin: 20px auto;
    position: relative;
}

.control{
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
    margin: 5px 30px;
}

.columna{
    display: flex;
    flex-direction: column;
}



.texto{
   width: 50%;
    /* width: fit-content; */
}

.wallpaper{
    background-image: url('../images/bckgrnd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;
    min-width: 800px;
}

h1{
    font-family: 'Metroid-Fusion';
	src: URL('Metroid-Fusion.ttf') format('truetype');
}

h2{
    font-family: 'Metroid-Fusion';
	src: URL('Metroid-Fusion.ttf') format('truetype');
}